body,
html {
	margin: 0;

}

canvas {
	display: block;
	margin: auto;
	padding-top: 40px;
}

.toolbars {
	position:fixed;
	.btn {
		height: 50px;
		width: 50px;
		border: 1px rgb(88,88,88) solid;
		background-color: rgb(34,34,34);
		opacity: 0.8;
		text-align: center;

		img {
			height: 25px;
			width: 25px;
			margin: 25%;
		}
	}
	.btn:hover{
		opacity: 1;
	}
	.toggle{
		opacity: 1;
	}

}
